.safety-wellbeing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.safety-wellbeing-upper-section {
  background-image: url("https://res.cloudinary.com/digbzwlfx/image/upload/v1707805002/image_284_kao0p8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.safety-font48 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 30px;
}
.safety-space-below {
  margin-bottom: 300px;
}

.safety-upper-section-content {
  width: calc(100% - 320px);
  margin: 50px auto;
  padding: 0;
  margin-bottom: 0;
}

.safety-font24 {
  font-size: 20px;
  padding: 5px;
}
.safety-upper-section-content li {
  list-style-type: disc;
}

.safety-last-section {
  width: calc(100% - 200px);
  margin: 130px auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.safety-last-section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
}

.safety-last-section-content-left,
.safety-last-section-content-right {
  width: 45%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.safety-last-img {
  width: 100%;
  height: 100%;
}
.safety-last-section-content-list {
  margin: 20px auto;
}
.safety-last-section-content-list li {
  list-style-type: disc;
}
