@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap");

.academics-upper-section {
  height: 600px;
  background-image: url("https://res.cloudinary.com/digbzwlfx/image/upload/v1709281455/Rectangle_1812_2_x0edne.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 123px;
}
.academics-upper-section h1 {
  font-size: 48px;
  font-weight: bold;
}
.academics-upper-section p {
  font-size: 24px;
  width: 500px;
  font-weight: 500;
  margin-top: 20px;
}
.academics-head h1,
.academics-head p {
  position: relative;
}

.academics-div h1 {
  font-size: 62px;
  font-family: "Noto Serif Display", serif;
}

.academics-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 150px;
}

.academics-head > p {
  font-size: 30px;
  font-weight: bold;
}

.academics-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 80px 150px;
}

.academics-stats p {
  font-size: 24px;
  font-weight: bold;
}

.academics-card {
  display: flex;
  gap: 30px;
  padding: 75px 0px;
}

.academics-card-img {
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.academics-card-img-1{
  background-image: url('https://res.cloudinary.com/digbzwlfx/image/upload/v1709277369/Rectangle_1922_ygjslo.png');
}

.academics-card-img-2{
  background-image: url('https://res.cloudinary.com/digbzwlfx/image/upload/v1709277385/Rectangle_1924_qhodkb.png');
}

.academics-card-img-3{
  background-image: url('https://res.cloudinary.com/digbzwlfx/image/upload/v1709281412/Rectangle_1925_ue0lq3.png');
}

.academics-card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.academics-card-text h3 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}

.academics-card-text p {
  font-size: 20px;
  padding: 4px 0px;
}

.academics-card-text .kith-link {
  color: #3f86f0;
}

.academics-div-blue {
  padding: 130px 60px;
  background-color: #3f86f0;
}

.academics-div-blue h3 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-bottom: 30px;
}

.academics-div-last {
  padding-top: 0px;
}

@media screen and (max-width: 748px) {
  .academics-upper-section{
    padding-left: 50px;
  }
  .academics-upper-section h1 {
    margin-top: -30px;
    font-size: 28px;
  }
  .academics-upper-section p {
    width: 400px;
    font-size: 14px;
  }
  .academics-head {
    padding: 75px 32px !important;
  }

  .academics-div {
    padding: 100px 0px;
    gap: 16px;
  }
  .academics-card {
    padding: 40px 0;
  }

  .academics-card {
    flex-direction: column;
    gap: 16px;
    padding: 40px 0px;
  }

  .academics-card-reverse {
    flex-direction: column-reverse;
  }

  .academics-card-img {
    width: 100%;
    min-height: 400px;
  }

  .academics-card-text {
    padding: 0px;
    justify-content: flex-start;
  }

  .academics-div > h1 {
    font-size: 24px;
    font-weight: bolder;
  }

  .academics-div h3 {
    font-size: 24px;
  }

  .academics-div > p {
    font-size: 16px;
  }

  .academics-stats {
    flex-direction: column;
    gap: 42px;
    padding: 50px 20px;
  }

  .admissions-img-list {
    flex-direction: column;
  }

  .academics-div-last {
    padding-top: 0px;
  }

  .academics-div-blue {
    margin: 0px;
    padding: 50px 32px;
  }

  .academics-card-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .academics-card-text div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 440px) {
  .academics-upper-section {
    justify-content: flex-start;
    padding-left: 20px;
  }
  .academics-upper-section h1 {
    margin-top: 150px;
  }
  .academics-upper-section p {
    width: auto;
  }
}

@media screen and (min-width: 748px) and (max-width: 1050px){
  .academics-div {
    padding: 100px 50px;
  }
}
