.click-dropdown ul {
  padding: 0px;
}

.click-dropdown {
  position: absolute;
  top: 116px;
  left: 0px;
  right: 0px;
  padding: 30px 123px;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
  max-height: 0px;
  background-color: white;
  visibility: hidden;
  overflow: hidden;
  /* opacity: 0;  */
  transition: max-height 0.7s ease-in, opacity 0.7s ease-in, visibility 0s linear 0.7s;
}

.click-dropdown.active {
  max-height: 900px;
  visibility: visible;
  /* opacity: 1; */
  background-color: white;
  transition: max-height 0.7s ease-out, opacity 0.7s ease-out, visibility 0s linear;
}

.support-nav > .navbar-links{
  align-items: center;
}

.sup-nav-browse{
  height: 100%;
}


@media screen and (max-width: 836px) {
  .desktop-only {
    display: none !important;
  }

  .click-dropdown {
    position: fixed;
    padding: 20px 10px;
    opacity: 0;
  }

  .click-dropdown.active {
    position: absolute;
    padding:20px 10px;
    opacity: 1;
    right: 0 !important;
    left: 0 !important;
    z-index: 100;
  }

  /* .navbar-item.apply-btn.orange {
    display: none;
  } */
  .dropdown-container .support-subnav-list li a {
    font-size: 13px;
    font-weight: 400;
  }
}
