.full-screen-img {
    width: 90vw; /* 100% of viewport width */
    height: 90vh; /* 100% of viewport height */
    object-fit: cover; /* Cover the entire container, maintaining aspect ratio */
margin: 1rem;
}
@media (max-width: 768px) {
    .full-screen-img {
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow-x: visible;

    }
}