.why-donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 100px 80px;
}

/* .whydonate-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 28px;
} */
/* 
.whydonate-img img {
  width: 1060px;
  height: 388px;
} */

.whydonate-opp > h1,
.why-donate > div,
.donate-first-div > h1,
.donate-first-div > p {
  margin: var(--navbar-margin);
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  /* padding-top: 10px;
  padding-bottom: 0; */
  padding-inline-start: max(20px, var(--navbar-padding));
  padding-inline-end: max(20px, var(--navbar-padding));
}

.donate-first-div {
  padding: 150px 220px;
  color: white;
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708628154/Group_1742_aw1utt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 345px;
}

.donate-first-div h1 {
  font-size: 64px;
  padding: 5px;
}

.donate-first-div p {
  font-size: 24px;
  font-weight: 500;
}

.donate-card {
  display: flex;
  gap: 50px;
  /* padding: 75px 0px; */
  height: 450px;
  margin: 70px 0px !important;
}

/* .donate-card > div{
  width: calc((100% - 60px) / 2);
} */

.donate-card-img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.donate-card-img-1 {
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708628227/Rectangle_1766_1_uufero.png");
}

.donate-card-img-2 {
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708628156/Rectangle_1766_hw9dzv.png");
}

.donate-card-img-3 {
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708628227/image_343_fj2hi1.png");
}

.donate-card-img-4 {
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708628225/image_343_1_esstfj.png");
}

.donate-card-text {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  align-self: center;
}

.donate-card-text h1 {
  font-size: 28px;
}
.donate-card-text p {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
}

.whydonate-opp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 90px 0px;
  padding: 70px 0px;
  min-height: 302px;
  color: white;
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708628227/image_343_2_up9vbz.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.whydonate-opp h1 {
  font-size: 40px;
  padding: 20px 300px;
}

.hyperlinks {
  display: flex;
  justify-content: center;
  height: 35px;
  margin: 40px;
}

.hyperlinks div {
  display: flex;
}

.hyperlinks a {
  text-decoration: none;
}

.donate-hyperlink {
  font-size: 24px;
  margin: 0px 24px;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 748px) {
  .why-donate {
    padding: 100px 30px;
  }

  .donate-first-div {
    padding: 40px 30px;
  }
  .donate-first-div h1 {
    font-size: 32px;
  }

  .donate-first-div p {
    font-size: 14px;
  }

  .donate-card > div {
    width: 100%;
  }

  .donate-card-text {
    padding: 0px !important;
  }
  .donate-card {
    display: flex;
    flex-direction: column;
    padding: 30px 0px !important;
    gap: 24px;
  }

  .donate-card-img {
    width: 100%;
    min-height: 250px;
  }

  /* .donate-card > div > img {
    width: 100%;
    height: 239px;
  } */
  .donate-card-text h1 {
    font-size: 28px;
    padding: 0px 0px !important;
  }
  .donate-card-text p {
    font-size: 16px;
    padding: 15px 0px !important;
  }
  .donate-second {
    flex-direction: column-reverse;
  }
  .whydonate-opp h1 {
    font-size: 32px;
    padding: 50px;
  }
  .donate-first-div p {
    font-size: 16px;
  }
  .hyperlinks {
    flex-direction: column-reverse;
    height: auto;
    justify-content: center;
  }
}

@media screen and (min-width: 748px) and (max-width: 1000px) {
  .donate-first-div {
    padding: 150px;
  }

  .why-donate {
    padding: 110px 50px;
  }

  .whydonate-opp h1 {
    padding: 20px 75px;
  }
}
