.moonshots-top {
    width: 100%;
    height: 750px;
    background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708623660/Rectangle_1932_qjoyip.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.moonshots-opp{
    background-color: black !important;
  }
  
  
@media screen and (max-width: 748px) {
    .moonshots-top {
      width: 100%;
      height: 296px;
    }
}