.moonshots-top {
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708623660/Rectangle_1932_qjoyip.png");
  display: flex;
  align-items: center;
  min-width: 320px;
}

.moonshots-opp{
  background-color: black !important;
}
  
.moonshots-head{
  font-size: 48px;
  padding: 150px 0px 0px;
}

.moonshot-text{
  max-width: 900px;
  padding: 20px;
}

.moonshots-sub-div{
  width: 100%;
  height: 450px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
}

.moonshots-img1{
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708623658/100_2093_1_zr9bw1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moonshots-img2{
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708623659/IMG_3313_2_zapx1r.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moonshots-img3{
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708623659/DSC04890_1_xxtsrn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moonshots-img4{
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708623657/Rectangle_1875_akaqkc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moons-head{
  width: calc(100% - 40px);
  padding: 0px 0px 20px 20px;
  font-size: 24px;
  font-weight: bold;
}

.moons-text{
  width: calc(100% - 40px);
  padding: 0px 20px 20px;
  font-size: 16px;
  line-height: 32px;
}

.moons-text-div{
  background-image: linear-gradient(transparent, black);
}
  
@media screen and (max-width: 748px) {
    .moonshots-top {
      width: 100%;
      height: 296px;
    }

    .moonshots-head{
      font-size: 32px;
      padding: 100px 0px 70px;
    }

    .moons-head{
      font-size: 20px;
      font-weight: bold;
      padding: 0px 20px 10px;
    }
    
    .moons-text{
      font-size: 14px;
      padding: 0px 20px 20px;
    }
}