.publication-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 140px 123px;
}

.public-top{
  margin: 0px;
  padding: 0px 123px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 630px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.public-top::before {   
  content: "";
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708923699/vigneshwar-rajkumar-Az2FQtHgAn0-unsplash_1_z8urcf.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

.public-top h1 {
position: relative;
font-size: 64px;
font-weight: bolder;
text-align: center;
color: #fff;
}

.public-top p {
  position: relative;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  color: #fff;
}

.public-desp{
  font-size: 24px;
}

.public-title{
  text-align: center;
  font-size: 48px;
  padding: 30px;
}

.public-archives{
  font-size: 36px;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
}

.download-btn {
  padding: 8px 15px;
  border: solid 0.5px black;
  border-radius: 7px;
  background-color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.publication-form-control {
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.publication-form-control:focus {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 123, 255, 0.5);
  outline: none;
}

@media screen and (max-width: 748px) {
  .publication-page {
    padding: 10px 30px;
  }

  .public-top{
    padding: 70px 10px;
  }

  .public-title{
    font-size: 40px;
    padding: 5px;
  }
  
  .public-desp{
    font-size: 16px;
  }
  
  .public-archives{
    font-size: 36px;
    text-align: center;
  }

  .row {
    flex-direction: column;
    gap: 20px;
  }
  .responsive-data-grid .MuiDataGrid-colCell[data-field="description"] {
    width: 150px !important; 
  }
}
