.mission-section-container{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mission-1st-secction{
    padding: 4rem 20%;
}
.mission-head{
    font-size: 30px;
    font-weight: 650;

}
.mission-content1{
   font-size: 15px;
   font-weight: 500;
   
   padding-top: 3rem;
 
   
}
.mission-content2{
    font-size: 15px;
    font-weight: 500;
    padding-top: 1rem;
}
.our-purpose{
    display: flex;
   
    padding: 6rem 2rem;
   
}
.our-purpose1{
    display: none;
    padding: 2rem;
   
}
.image-cont1{
    justify-content: flex-start;
  
}
.image-cont1 .h2{
    font-size: 30px;
    font-weight: 650;
    text-align: left;
  
   
    padding-top:1rem ;
padding-bottom: 1.5rem;

}
.image-cont{
    justify-content: flex-start;
    width: 50%;
    padding-left: 20%;
}
.image-cont .h1{
    font-size: 30px;
    font-weight: 650;
    text-align: left;
  
    width: 80%;
    padding-top:1rem ;
padding-bottom: 1.5rem;
padding-left:3rem ;

}
.our-purpose-mobile{
    display: none;
   
}


.purpose-cont{
    padding-left: 3rem;
font-size: 15px;
  font-weight: 500;
    text-align: left;
    width: 80%;
   
}
.purpose-cont1{
    font-size: 15px;
  font-weight: 500;
    text-align: left;
    

}
.our-purpose1-image{
    background-color: #000;
    padding: 1rem;
 
    height: 200px;
    justify-content: center;
    align-items: center;
}
.image-purpose{

   width: 50%;
   padding-right: 15%;
   
}
.imgg{
    width: 450px;
    height: 280px;
    background-color: black;
}


.our-mission-text{
    padding-top: 3rem ;
    padding-left: 1rem;
    border-radius: 0 2rem 2rem 0;
    width: 50%;
    color: #fff;
    background-color: #032437;
    text-align: left;
    font-weight: 500;
    

}
.our-mission-text-heading{
    padding-bottom:1rem;
    font-weight: 650;
    font-size: 30px;
    width: 50%;
}
.our-mission-text-content{
    font-size: 15px;
    width: 85%;

}
.our-mission-text-button{
    padding-top: 1.5rem;
}
.our-mission-text-button button{
    font-size: 15px;
    font-weight: 500;
    padding: .5rem 1rem;

border-radius: 5px;
border: none;
}
.our-vision{
    padding: 4rem 25% 10% 25%;
}
.our-vision-head{
    font-size: 40px;
    font-weight: 650;

}
.our-vision-subhead{
    padding: 2rem;
    font-size: 30px;
    font-weight: 600;

}
.our-vision-text{
    font-size: 15px;
    font-weight: 500;
    padding: 0 3rem;

}
.our-vision-button{
    padding:2rem ;
}
.our-vision-button button{
    border: 1px solid #646A7B;
   font-size: 15px;
   padding: .5rem 1rem;
    background-color: #fff;
    border-radius: 4px;
}
.our-mission-mobile{
   margin:2rem 20% ;
    height: 300px;
    background-color: #032437;
    border-radius:  20px; 
    display: flex;
   
}
.our-mission-mobile-image{
    height: 300px;
    width: 50%;
    border-radius:  20px 0 0 20px; 
    background-color: #000;
}

@media (max-width:850px){
    .mission-1st-secction{
        padding:2rem;
    }
    
    .our-purpose-mobile-h1{
        font-size: 30px;
        font-weight: 650;
        text-align: left;
        padding:2rem 0 ;
    }
    .our-purpose-mobile-cont{
        font-size: 15px;
        text-align: left;
        font-weight: 500;
    }
    .our-purpose1{
        display: block;
        
       
    }
    
    .our-purpose{
        display: none;
        padding:1rem;
    }
    .our-purpose-mobile{
        display: grid;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .our-mission-mobile{
        display: grid;
        margin:2rem;
        
        height: 40%;
       
    }
    .our-mission-mobile-image{
        width: 100%;
        
        border-radius:  10px 10px 0 0;
        
    }
    .our-mission-text{
        border-radius:  10px; 
        padding-bottom:2rem ;
        width: 90%;
      
    }
    .our-mission-text-content{
       
        width: 100%;
    
    }
    
    .our-mission-text-heading{
        width: 100%;
    }
    .our-purpose1{
        display: grid;
    }
 .our-vision{
    padding: 2rem 1rem;
 }
 .our-vision-head{
    padding: 1rem 0 0 0;
 }  
 .our-vision-subhead{
    padding: 2rem 0;
 }
 .our-vision-text{
    padding: 0;
 }
}