@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');

.kith-overview-head {
    position: relative; 
    padding: 200px;
}

.kith-overview-head::before { 
    content: "";
    background-image: url('https://res.cloudinary.com/dtfzxqpoy/image/upload/v1709446765/image_274_lwa7he.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

.kith-overview-head h1, 
.kith-overview-head p {
    color: white;
  position: relative;
}



.kith-overview-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.kith-overview-head > h1{
    font-size: 64px;
    font-family: 'Noto Serif Display', serif;
}

.kith-overview-head  > p{
    font-size: 38px;
    font-weight: bold;
}

.kith-overview-second-div{
    padding: 150px;
}

.kith-overview-third-div{
    padding: 0px 120px 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.kith-overview-div > p{
    font-size: 30px;
    font-weight: bold;
}

.kith-overview-div > .give-card h3{
    font-size: 50px;
    font-family: 'Noto Serif Display', serif;
}

.kith-overview-div > .give-card p{
    font-size: 24px;
}

.kith-overview-div > .give-card > div{
    width: 100%;
    height: 300px;
}

.overview-img-div{
    padding: 100px 150px;
}

.kith-overview-img-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.kith-overview-img-list > div {
    width: 100%;
}

.kith-overview-img-list > div > img{
    width: 100%;
    height: 500px;
}

.kith-overview-grid{
    display: grid;
    text-align: left;
    height: 775px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-head{
    padding: 40px 0px;
    font-size: 20px;
}

.overview-grid-inner{
    width: 100%;
    height: 100%;
}


.overview-grid-inner .kith-link{
    color: #3F86F0;
    padding: 20px;
}

.kith-overview-grid-inner1 .kith-link{
    padding: 20px;
}

.kith-overview-grid-inner1,
.kith-overview-grid-inner2,
.kith-overview-grid-inner3,
.kith-overview-grid-inner5,
.kith-overview-grid-inner6,
.kith-overview-grid-inner8{
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center center;
    transition: all 1s ease-in-out;
}

.kith-overview-grid-inner1{
    background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1709446765/image_266_gupyt0.png");
    grid-row: span 3;
    grid-column: span 4;    
    display: flex;
    align-items: flex-end;
}

.kith-overview-grid-inner2{
    background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1709446765/image_267_ju4vv1.png");
    grid-row: span 2;
    grid-column: span 2;
    display: flex;
    align-items: flex-start;
}

.kith-overview-grid-inner3{
    background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1709446764/image_269_l82sa9.png");
    grid-row: span 2;
    grid-column: span 2;    
    display: flex;
    align-items: flex-start;
}

.kith-overview-grid-inner4{
    background-color: #3F86F0;
    grid-row: span 1;
    grid-column: span 4;
}

.kith-overview-grid-inner5{
    background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1709446764/image_270_f1zohb.png");
    grid-row: span 2;
    grid-column: span 2;
}

.kith-overview-grid-inner6{
    background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1709446764/image_265_azvlwk.png");
    grid-row: span 2;
    grid-column: span 2;
}

.kith-overview-grid-inner7{
    grid-row: span 2;
    grid-column: span 2; 
    display: flex;
    align-items: flex-end;
}

.kith-overview-grid-inner8{
    background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1709446764/image_268_ygauso.png");
    grid-row: span 2;
    grid-column: span 2; 
    display: flex;
    align-items: flex-start;
}

.kith-overview-grid-inner7 > div >div{
    background-color: #3F86F0;
    padding: 30px 0px;
}



.kith-overview-grid-inner1:hover,
.kith-overview-grid-inner2:hover,
.kith-overview-grid-inner3:hover,
.kith-overview-grid-inner5:hover,
.kith-overview-grid-inner6:hover,
.kith-overview-grid-inner8:hover
 {
    background-size: 140%;
    transition: all 1s ease-in-out;
}

.kith-overview-grid-inner1 p{
    font-size: 28px;
    color: white;
    padding: 20px 200px 20px 20px;
}

.kith-overview-grid-inner3 p{
    color: #fff;
}

.kith-overview-grid-inner2 p,
.kith-overview-grid-inner3 p,
.kith-overview-grid-inner7 p,
.kith-overview-grid-inner8 p{
    font-size: 16px;
    color: black;
    font-weight: 500;
    padding: 20px;
}

.kith-overview-grid-inner2 .kith-link,
.kith-overview-grid-inner3 .kith-link,
.kith-overview-grid-inner8 .kith-link{
    font-size: 16px;
}
.kith-overview-grid-inner7 .kith-link{
    color: #fff;
    text-decoration: none;
}

.kith-overview-grid-inner1 div{
    padding-bottom: 50px;
    transition: all 1s ease-in-out;
}

.kith-overview-grid-inner1:hover div{
    color: #3F86F0;
    transform: translateY(-10px);
    transition: all 1s ease-in-out;
}

.kith-overview-grid-inner2 div,
.kith-overview-grid-inner3 div,
.kith-overview-grid-inner8 div,
.kith-overview-grid-inner7 div p{
    transition: all 1s ease-in-out;
}

.kith-overview-grid-inner2:hover div,
.kith-overview-grid-inner3:hover div,
.kith-overview-grid-inner8:hover div,
.kith-overview-grid-inner7:hover div p{
    color: #3F86F0;
    transform: translateY(-10px);
    transition: all 1s ease-in-out;
}

.mobile-only{
    display: none;
}

.kith-overview-grid-inner4 p{
    color: white;
    font-size: 28px;
    padding: 20px 200px 20px 20px;
    transition: all 1s ease-in-out;
}

.kith-overview-grid-inner4:hover p{
    color: black;
    transform: translateY(-10px);
    transition: all 1s ease-in-out;
}

.kith-marquee {
    display: none;
}

.kith-overview-div-img-list{
    display: flex;
    gap: 20px;
    padding: 70px;
}

.kith-overview-div-img-list img{
    width: 300px;
    height: 450px;
}

.kith-overview-last-div{
    background-color: #3F86F0;
    color: white;
    padding: 200px 300px;
    margin-bottom: 300px;
}

.kith-overview-last-div > h3{
    font-size: 64px;
    font-family: 'Noto Serif Display', serif;
}

.kith-overview-last-div > .overview-link{
    color: white;
}

.kith-overview-last-div img{
    margin: 20px;
    width: 150px;
    height: 50px;
}

@media only screen and (max-width: 805px) {
    .kith-overview-head{
        padding: 75px 32px !important;
    }

    .kith-overview-div{
        padding: 70px 20px;
        gap: 16px;
    }

    .kith-overview-second-div{
        padding-bottom: 40px;
    }

    .kith-overview-head > h1 {
        font-size: 48px;
        font-weight: bolder;
    }

    .kith-overview-div > .give-card h3{
        font-size: 24px;
    }
    
    .kith-overview-div > .give-card p{
        font-size: 16px;
    }

    .kith-overview-div > p {
        font-size: 16px;
    }

    .kith-overview-grid{
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: auto;
        background-color: #fff;
        padding: 0px !important;
    }

    .kith-overview-grid-inner4,
    .kith-overview-grid-inner5,
    .kith-overview-grid-inner6,
    .kith-overview-grid-inner7{
        display: none;
    }

    .kith-overview-grid-inner1,
    .kith-overview-grid-inner2,
    .kith-overview-grid-inner3,
    .kith-overview-grid-inner8
    {
        display: flex;
        align-items: flex-end;
        height: 362px;
        width: 100%;
    }

    .kith-overview-grid-inner1 div,
    .kith-overview-grid-inner2 div,
    .kith-overview-grid-inner3 div,
    .kith-overview-grid-inner8 div
    {
        padding-bottom: 30px;
    }

    .kith-overview-grid-inner1 p,
    .kith-overview-grid-inner2 p, 
    .kith-overview-grid-inner3 p, 
    .kith-overview-grid-inner8 p {
        color: white;
        font-size: 16px;
        padding: 20px;
    }

    .kith-marquee {
        display: flex;
        /* width: 100%; */
    }

    .mobile-only{
        display: block;
    }

    .kith-marquee div {
    height: 250px;
    margin: 0px 20px;
    }
    .kitht-marquee div img {
    height: 90%;
    width: 85%;
    }
 
    .kith-overview-div .give-card {
        padding: 0px;
    }

    .desktop{
        display: none;
    }
    
    .kith-overview-last-div{
        padding: 70px 20px;
        margin-bottom: 100px;
    }
    
    .kith-overview-last-div > h3{
        font-size: 28px;
    }
    
    .kith-overview-last-div img{
        margin: 20px;
        width: 80px;
        height: 50px;
    }
}
