.form-control {
  font-size: x-large;
  border: none;
  margin: 10px 0px;
  padding: 5px 123px;
  width: calc(100% - 246px);
  height: 50px;
  text-align: left;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 7px rgba(0, 123, 255, 0.5);
  outline: none;
}

@media only screen and (max-width: 748px) {
  .form-control{
    padding: 5px 10px;
    width: calc(100% - 20px);
    font-size: 20px;
  }
}
