.ways-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 150px 123px;
}

.ways-top {
  width: 100%;
  height: 512px;
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708635252/Rectangle_1868_fuvnc1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 48px;
}

.ways-top h1{
  font-size: 64px;
  color: #ffffff;
}

.give-card {
  display: flex;
  gap: 30px;
  padding: 50px 0px;
}

.give-card img {
  width: 480px;
  height: 310px;
}

.give-card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.give-card-text h1 {
  font-size: 48px;
  padding: 0px 0px 10px;
}
.give-card-text p {
  font-size: 24px;
  padding: 8px 0px;
  color: #333333;
  font-weight: 500;
}

.give-card-link {
  font-size: 20px;
  padding: 6px 0px;
  text-decoration: underline;
  color: #3F86F0;
}

@media screen and (max-width: 748px) {
  .ways-page {
    padding: 80px 30px;
  }

  .ways-top h1 {
    font-size: 40px;
  }

  .give-card {
    flex-direction: column;
    gap: 16px;
    padding: 40px 0px;
  }

  .give-card-reverse {
    flex-direction: column-reverse;
  }

  .give-card img {
    width: 100%;
    height: 310px;
  }

  .give-card-text {
    padding: 0px;
  }

  .give-card-text h1 {
    font-size: 36px;
    padding: 0px;
  }
  .give-card-text p {
    font-size: 16px;
    padding: 15px 0px;
  }

.give-card-link {
  font-size: 14px;
  text-decoration: underline;
  color: #3F86F0;
}
}
