.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  height: 44px;
  padding: 10px 123px;
  z-index: 200;
}

.navbar-logo {
  font-size: 24px;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-links li a,
.navbar-links li p {
  text-decoration: none;
  color: #424242;
  font-size: 14px;
  font-weight: 500;
}

.navbar-links li p {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-links li a:hover,
.navbar-links li p:hover {
  color: #a0a0a0;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  display: flex;
  left: 0px;
  right: 0px;
  padding: 15px 123px;
  background-color: #fff;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  max-height: 0;
  /* opacity: 0; */
  visibility: hidden;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out,
    visibility 0.3s ease;
}

.dropdown:hover .dropdown-content {
  max-height: 900px;
  /* opacity: 1; */
  visibility: visible;
}

.navbar-links {
  display: flex;
  gap: 24px;
}

.dropdown-content a {
  color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content h4 {
  font-size: 14px;
  padding: 10px 0px;
}

.dropdown li {
  font-size: 24px;
  padding: 5px 0px;
}

.quick-links li {
  font-size: 16px;
  padding: 5px;
}

.dropdown-content ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.dropdown-content ul li {
  width: 250px;
  height: 30px;
}

.dropdown-content ul li a {
  padding: 0px !important;
}

.nav-search > .click-dropdown {
  top: 64px;
}

.up {
  display: none;
}

.hamburger,
.down,
.cross {
  display: none;
  cursor: pointer;
}

/* @media only screen and (max-width: 1500px) {
} */

@media only screen and (max-width: 805px) {
  .navbar {
    padding: 10px;
  }

  .navbar-menu {
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0; /* added */
    padding-top: 75px;
    padding-left: 10px;
    flex-direction: column;
    background-color: #fff;
    z-index: 100;
    visibility: visible;
    opacity: 1;
  }

  .navbar-menu.active {
    display: flex;
  }

  .dropdown:hover .dropdown-content {
    max-height: inherit;
    visibility: inherit;
  }

  .dropdown-content {
    padding: 66px 10px;
  }

  .navbar-item {
    display: flex;
    width: 100%;
    padding: 0px;
    position: relative;
    text-align: left;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-links.active {
    display: flex;
    gap: 5px;
  }

  .up {
    display: block;
    position: absolute;
    right: 15px;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    height: 100vh;
    flex-direction: column;
    justify-content: left;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-top: 66px;
    background-color: #fff;
    z-index: 101;
  }

  .down {
    display: none;
  }

  .dropdown-content.active {
    display: block;
    z-index: 101;
  }

  .down.active {
    display: block;
    position: fixed;
    z-index: 102;
    top: 20px;
    left: 20px;
  }

  .dropdown-content.active {
    max-height: 100vh;
    opacity: 1;
  }

  .hamburger {
    display: block;
  }

  .cross {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 102;
  }
  .navbar-links li a {
    /*added*/
    font-size: 32px;
    margin-bottom: 15px;
    margin-left: 50px;
    font-weight: bold;
    color: black;
  }

  .dropdown-content h4 {
    font-size: 28px;
    margin-left: 50px;
  }

  .dropdown-content ul li a {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .dropdown-content ul li {
    height: 50px;
  }
  .quicklinks-heading {
    font-size: 20px;
    font-weight: normal;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
