.years-row {
  display: flex;
  justify-content: space-around;
}

.years-row * {
  padding: 0px 20px;
}

.years {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousal-btn {
  background-color: white;
  border: none;
}

.icon-100 {
  font-size: x-large;
}

#btn-off {
  display: none;
}

.slider-container{
  width: 50%;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.75;
  color: black;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 748px) {
  .years-row * {
    padding: 0px 10px;
  }
}