.footer-container {
  height: auto;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 100px 123px 0px; */
  background-color: #f5f5f5;
  min-width: 320px;
}
.footer-container-inner {
  /* overflow: hidden; */
  margin: 0px auto;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 0px;
  padding-inline-start: max(20px, var(--navbar-padding));
  padding-inline-end: max(20px, var(--navbar-padding));
}
.content {
  height: auto;
  width: 100%;
}
.content,
.social-links {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  width: 100%;
}

/* .footer-list {
  height: 90%;
} */

.footer-container a {
  line-height: 40px;
}

.footer-list h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-list ul li {
  display: flex;
  justify-content: left;
}
.footer-list ul {
  padding: 0;
}

li {
  list-style: none;
}

.footer-list ul li a {
  text-decoration: none;
  color: #424245;
  font-size: 14px;
  font-weight: 500;
}
.icons-container {
  display: flex;
  margin-left: auto;
  width: 197px;
  height: 34px;
  justify-content: space-between;
}
.icon {
  font-size: 24px;
}

.icons-container a {
  color: black;
}

.footer-icon {
  font-size: 24px;
}
.footer-icon1 {
  height: 24px;
  width: 24px;
}
.social-links span a {
  text-decoration: none;
  font-size: 14px;
  color: #424245;
  font-weight: 500;
}

.social-links span {
  margin-right: 16px;
  font-size: 14px;
}

.social-links {
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  padding: 30px 0px;
}

.footer-brand-name {
  display: none;
}

.footerArrow {
  display: none;
}
.lokarpan-logo {
  height: 30px;
  width: 100px;
}
.icons-list {
  width: 150px;
  margin-top: 20px;
}
.mobile-footer-last-sec {
  display: none;
}
.footer-hor-line {
  display: none;
}
.hor-line3 {
  display: none;
}
.hor-line4 {
  max-width: 1100px;
  width: 80%;
  border-top: 1px solid #d6d6d6;
  border-bottom: none;
  display: block;
  margin: 0 auto;
  background-color: #f5f5f5;
}
@media screen and (max-width: 836px) {
  .hor-line4 {
    width: 95%;
  }
  .footer-mobile {
    background-color: #f5f5f5;
    height: auto;
  }
  .hor-line3 {
    width: 100%;
    border-top: 1px solid #d6d6d6;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: none;
  }
  .footer-brand-name {
    display: block;
    margin: 10px 0px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
  /* 
  .footer-list ul {
    display: none;
  } */

  /* .footer-list h4 {
    margin: 21px 0px;
  } */

  .footerArrow {
    display: block;
    font-size: 12px;
  }

  .footer-list-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    color: #6e6e73;
  }

  /* .footer-list-title:hover {
    color: #dedede;
  } */

  .footer-list h4 {
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
  }

  .footerArrow.active {
    transition: rotate(90deg) 1s ease;
  }

  .footer-list-items {
    max-height: 0px;
    visibility: hidden;
    transition: max-height 0.7s ease-in-out, visibility 0.7s ease-in-out;
  }

  .footer-list-items.open {
    /* display: flex;
    flex-direction: column; */
    max-height: 1000px;
    visibility: visible;
    transition: max-height 0.7s ease-in-out, visibility 0.7s ease-in-out;
  }

  .social-links {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    align-items: left;
    padding: 10px 0px;
  }
  .icons-container {
    margin-left: 0px;
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }

  .icons-container a {
    margin: 5px;
  }
  .policy-text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .social-links span {
    font-size: 12px;
    font-weight: 500;
  }
  .social-links span a {
    font-size: 12px;
    font-weight: 500;
  }
  .mobile-footer-last-sec {
    display: inline-block;
    font-size: 12px;
  }
  .desktop-footer-last-sec {
    display: none;
  }

  .footer-list ul li a {
    font-size: 12px;
  }
  .footer-hor-line {
    display: block;
    border-top: 1px solid #d6d6d6;
    width: 100%;
    margin: 10px 0;
    border-bottom: none;
  }
}
