.d_home_hero {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 600px;
  height: auto;
  background-color: aquamarine;
}
.d_home_hero_head1 {
  font-size: 52px;
  width: 80%;
  margin: 0px auto;
  font-weight: bold;
}
.d_home_hero_head2 {
  font-size: 64px;
  font-weight: bold;
}
.d_home_hero_content {
  width: 80%;
  margin: 0px auto;
  font-size: 28px;
  font-weight: 500;
  margin-top: 50px;
  line-height: 40px;
}
.d_home_section1 {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 100px auto;
}
.d_home_section1_right {
  /* width: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  margin-left: auto;
}
.d_home_section1_right h1 {
  /* padding: 2rem 4rem 2rem 4rem; */
  font-size: 30px;
  font-weight: 550;
  line-height: 40px;
}
.d_home_section1_left {
  height: 350px;
  width: 50%;
}
.image_right {
  background-color: #f5eee6;
}
.link-text {
  margin-top: 30px;
  font-size: 18px;
  color: #3f86f0;
}
.image_left {
  background-color: #f8edff;
}
.d_home_section2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 10%;
  font-size: 1.5rem;
}
.d_home_section2 h1 {
  font-size: 48px;
  margin-bottom: 50px;
}
.d_home_section2_image {
  padding-bottom: 4rem;
  margin-top: 50px;

  height: 350px;
  background-color: #f8edff;
}
.d_home_section3 {
  justify-content: center;
  text-align: center;
  padding: 4rem 20%;
}
.join-us-btn {
  width: 180px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin-bottom: 50px;
}
.d_home_section3_box {
  display: flex;
  padding: 2rem 0;
}
.d_home_section3_content {
  text-align: left;
  width: 50%;
  padding: 2rem 4rem;
  font-size: 1.5rem;
}
.d_home_section3_image {
  height: 350px;
  background-color: #e5e1da;
  width: 50%;
}
.guideline_design {
  background-color: beige;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.guideline_design h1 {
  font-size: 64px;
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.d_home_section1_mobile_image {
  height: 300px;
  margin: 2rem;
  background-color: #e5e1da;
  margin-top: 100px;
}
.d_home_section1_mobile {
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.d_home_section1_mobile_text {
  font-size: 24px;
  font-weight: 550;
  text-align: center;
  margin-bottom: 30px;
  width: 90%;
  margin: 0px auto;
}
.d_home_section1_mobile_text1 {
  font-size: 32px;
  font-weight: 550;
  text-align: left;
  padding: 0 2rem 6rem 2rem;
}
.design-p {
  line-height: 30px;
  font-size: 20px;
  width: 80%;
  margin: 100px auto;
  text-align: center;
}
.design-p2 {
  font-size: 20px;
  line-height: 30px;
  width: 90%;
}

.our-projects-head {
  text-align: center;
  margin-top: 100px;
}
@media (max-width: 850px) {
  .guideline_design h1 {
    font-size: 32px;
  }
  .d_home_hero_content {
    padding: 1rem 1.5rem;
  }
  .d_home_hero {
    padding: 0;
  }
  .d_home_hero_head1 {
    padding-top: 4rem;
    font-size: 32px;
  }
  .d_home_hero_head2 {
    padding-bottom: 2rem;
    font-size: 32px;
  }
  .d_home_section1_mobile {
    display: block;
  }
  .d_home_section1 {
    display: none;
  }
  .d_home_section2 {
    padding: 0;
  }
  .d_home_section2 h1 {
    font-size: 32px;
    font-weight: 550;
    padding: 6rem 2rem 1rem 2rem;
  }
  .d_home_section3 {
    display: none;
  }
  .d_home_section1_mobile_guideline {
    padding: 4rem 0 2rem 0;
  }
  .link-text {
    margin-top: 50px;
  }
  .d_home_section1_mobile_text {
    margin-bottom: 30px;
  }
  .d_home_section1_mobile_text1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}
