.being-a-volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 123px;
  gap: 350px;
}

.volunteer-top{
  background-image: url("https://res.cloudinary.com/dtfzxqpoy/image/upload/v1708632802/image_325_zhdkyv.png");
  color: white;
}

.volunteer-first-div {
  padding: 80px;
}

.volunteer-first-div h1 {
  padding: 20px;
  font-size: 64px;
}

.volunteer-first-div p {
  font-size: 28px;
  padding: 10px 120px;
}

.being-a-volunteer-second{
  padding: 200px 123px;
}

.donate-card {
  display: flex;
  padding: 30px 90px;
}


.donate-card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.donate-card-text h1 {
  font-size: 28px;
  padding: 15px;
}
.donate-card-text p {
  padding: 15px;
}

.volunter-opp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  background-color: #fff;
  padding: 10px;
}

.volunter-opp h1 {
  font-size: 40px;
}

@media screen and (max-width: 393px) {
  .being-a-volunteer {
    padding: 10px 30px;
    gap: 140px;
  }
  .volunteer-first-div {
    padding: 40px 0px;
  }
  .volunteer-first-div h1 {
    padding: 20px 0px;
    font-size: 40px;
  }
  
  .volunteer-first-div p {
    font-size: 16px;
    padding: 10px 0px;
  }

  .opp h1 {
    font-size: 32px;
  }

  .being-a-volunteer-second {
    padding: 100px 10px;
}
}
