.mobile-item {
  display: none;
}

.navbar-item-btn-browse {
  display: none;
}

@media screen and (max-width: 836px) {
  .education .click-dropdown.active {
    position: absolute;
    padding: 20px 10px;
    top: 110px;
    right: 0 !important;
    left: 0 !important;
  }
  .mobile-item {
    display: block;
  }
  .mobile-none {
    display: none;
  }
  .mobile-heading {
    font-size: 28px;
    margin-left: 5px;
  }
  .dropdown-container ul li a {
    font-size: 28px;
    margin-left: 50px;
    font-weight: bold;
  }
  .dropdown-container ul li {
    height: 40px;
  }
  .dropdown-container .edu-subnav-list li a {
    font-size: 13px;
    font-weight: 400;
  }

  .navbar-item.desktop-only {
    display: none;
  }
}
