@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');

.howto-div {
    position: relative; 
    padding: 105px 205px !important;
}

.howto-div::before {   
    content: "";
    background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRK4byeSyN96D5nW3LKcc6sSXlP_eT_ZVp3DmuNM_TycWvxngPC');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.howto-div h1 {
  position: relative;
  font-size: 64px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Noto Serif Display', serif;
}

.howto-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 123px;
}

.howto-card{
    width: 100%;
    display: flex;
    padding: 150px 0px;
    gap: 80px;
}

.howto-card img{
    width: 500px;
    height: 350px;
}

.howto-card > .text-div{
    text-align: left;
}

.howto-card > .text-div > h3{
    font-size: 64px;
    font-family: 'Noto Serif Display', serif;
}

.howto-card > .text-div > p{
    font-size: 24px;
}

.howto-faqs{
    background-color: #3F86F0;
    color: white;
    display: flex;
    gap: 64px;
    flex-direction: column;
    text-align: left;
    padding: 100px 123px;
}

.howto-faqs .question{
    color: white;
}

/* .howto-faqs .question::selection{
    display: none;
} */

.howto-faqs .question::after{
    content: "";
    height: 5px;
    width: 5px;
    border: 2px solid white;
    /* border: 0px solid white; */
    display: block;
    position: absolute; 
    border-left: none;
    border-top: none;
    margin: 0 6px 4px 10px;
    cursor: pointer;
    transform: translateY(-50%) rotate(45deg);
    transition: transform 665ms cubic-bezier(0, 0, 0.1, 1);
    /* transform: rotate(45deg);
    transition: transform 1s; */
    opacity: 0.5;
    right: 20px;
    top: 50%;
}

.howto-faqs > h1{
    font-size: 64px;
    font-family: 'Noto Serif Display', serif;
}

.howto-apply{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 70px 123px;
}

.howto-apply > h1{
    font-size: 40px;
    padding: 20px 0px;
    font-family: 'Noto Serif Display', serif;
}

.border-black{
    border: 1px solid black;
}

.howto-faqs .each-question{
    padding: 24px;
}

.howto-faqs .question{
    font-size: 24px;
}