.lead-page {
  padding: 0px 123px;
}

.title1 {
  font-size: 32px;
  padding: 40px 0px 10px;
  text-align: left;
}

.img-contain {
  display: flex;
  justify-content: center;
}

.lead-img {
  width: 100%;
  height: 835px;
}

.desp {
  margin: 150px 50px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.desp-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 60px 0px;
  justify-content: space-between;
}

.desp-cards h4{
  color: #181818;
  font-size: 40px;
  font-weight: bold;
}

.desp-cards p{
  color: #333333;
  font-size: 20px;
}

.desp-card-list {
  grid-column: span 6;
  padding: 20px 0px;
  height: inherit;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
}

.dummy {
  width: 100%;
  height: 180px;
}

@media only screen and (max-width: 748px) {
  .desp-card-list {
    grid-column: span 12;
  }

  .lead-page {
    padding: 10px;
  }

  .lead-main-title{
    font-size: 40px !important;
    padding: 20px 0px 50px;
  }

  .title1{
    font-size: 20px;
  }

  .desp {
    margin: 50px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }

  .desp-cards h4{
    font-size: 24px;
    font-weight: bold;
  }
  
  .desp-cards p{
    font-size: 16px;
    font-weight: 500;
  }

  .dummy{
    height: 80px
  }
}
